# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Generic-API-Testing-Framework\API-Test-Framework\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
